[package]
name = "network"
version = "6.6.3"
authors = ["Rivtower Technologies <contact@rivtower.com>"]
edition = "2021"

[dependencies]
zenoh = "0.7.0-rc"
flume = "0.10"
tokio = { version = "1.25", features = ["rt-multi-thread", "time"] }
tokio-util = "0.7"
parking_lot = "0.12"
toml = "0.7"
serde = { version = "1.0", features = ["derive"] }
bytes = "1.4"
hex = "0.4"
thiserror =  "1.0"
tentacle-multiaddr = "0.3"
clap = { version = "4.1", features = ["derive"] }
backtrace = "0.3"
log = "0.4"
log4rs = { version = "1.2", features = ["gzip"] }
md5 = "0.7"
json5 = "0.4"
tonic = "0.8"
prost = "0.11"
tower = "0.4"

cloud-util = { package = "cloud-util", git = "https://github.com/cita-cloud/cloud-common-rs.git" }
cita_cloud_proto = { package = "cita_cloud_proto", git = "https://github.com/cita-cloud/cloud-common-rs.git" }
